# Virtual environment
venv/
env/

# PyCharm
.idea/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Лучше добавить сюда еще папку output, т.к. после каждого запуска она будет содержать разные даные